.OverviewTab {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    height: 90vh;
    word-wrap: break-word;

    --overview-page-storages-aspect-ratio: 1/1;
    --overview-page-table-height: 70vh;

    --buttons-height: 2em;

    --ram-rom-background-color: rgb(55, 123, 191); /* Just for debugging */

    --ram-rom-tr-background-color-even: aqua;
    --ram-rom-tr-background-color-odd: rgb(94, 204, 204);

    --ram-rom-table-hover-color: rgba(171, 56, 27, 0.5);
    --ram-rom-table-hover-element-color: rgba(171, 56, 27, 1);
}

.ProcessorSpecificFunctions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ProcessorStatusOverview {
    background-color: rgb(116, 194, 214);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 80vh;
    align-self: center;
}

.ProcessorStatusOverview Label {
    width: 2em;
    text-align: center;
}

.TickClockButton {
    align-self: center;
}

.Storages {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.RamOverview {
    background-color: var(--ram-rom-background-color);
    margin-right: 2em;
    margin-left: auto;
    height: var(--overview-page-table-height + --buttons-height);
    aspect-ratio: var(--overview-page-storages-aspect-ratio);
}

.RomOverview {
    background-color: var(--ram-rom-background-color);
    margin-left: 2em;
    margin-right: auto;
    height: var(--overview-page-table-height + --buttons-height);
    aspect-ratio: var(--overview-page-storages-aspect-ratio);
}

.StackOverview {
    background-color: var(--ram-rom-background-color);
    margin-left: auto;
    margin-right: auto;
    height: var(--overview-page-table-height);
    overflow: scroll;
}

.StackContents {
    height: var(--overview-page-table-height);
    overflow: scroll;
} 

.StackContents label {
    border: 1px solid beige;
    width: 50%;
}

.RomOverviewTable {
    overflow: scroll;
    height: var(--overview-page-table-height);
    border: 1px solid black;
    aspect-ratio: var(--overview-page-storages-aspect-ratio);
}

.RamOverviewTable {
    overflow: scroll;
    height: var(--overview-page-table-height);
    border: 1px solid black;
    aspect-ratio: var(--overview-page-storages-aspect-ratio);
}

.RomOverviewTable tr, .RamOverviewTable tr {
    height: 4px;
}

.PreviousAndNextButtons {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: space-between;
}

.PreviousAndNextButtons :first-child {
    align-self: flex-start;
    margin-left: 0;
    margin-right: auto;
}

.PreviousAndNextButtons :last-child {
    align-self: flex-end;
    margin-right: 0;
    margin-left: auto;
}

.TableHead, .StackOverviewHeader, .TableBody tr :first-child, .StackContents .StackIndex {
    background-color: black;
    color: aliceblue;
}

.TableBody :nth-child(odd) {
    background-color: var(--ram-rom-tr-background-color-odd);
}

.TableBody :nth-child(even) {
    background-color: var(--ram-rom-tr-background-color-even);
}

.TableBody tr:hover {
    background-color: var(--ram-rom-table-hover-color);
}

.TableBody tr td:hover {
    background-color: var(--ram-rom-table-hover-element-color);
    cursor: none;
}

/* .RamOverview td:hover::after, .RamOverview th:hover::after, .RomOverview td:hover::after, .RomOverview th:hover::after { 
    background-color: var(--ram-rom-table-hover-color);
    content: '\00a0';
    height: 10000px;    
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    pointer-events: none;  
 } */
